 {% extends "htmldisplay.html" %}
 {% block a %}
 <section class="content">
      <div class="row">
        <div class="col-12">
         
          <div class="card">
            <div class="card-header">
              <a href="entry_adv_assign.php"  class="btn btn-primary">Add Case DATa</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             <input type="text" />
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}